body {
    background-color: #4e4e4e;
    color: white;
}

hr {
    width: 50%;
    border: black 1px solid;
}

p {
    font-size: 1.25em;
}

button span {
    display: block;
}

.navbar {
    background-color: black;
}

.card {
    background-color: black;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

#xstore-header {
    margin-top: 25px;
}